<div class="container-fluid text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1>Editing Location</h1>

      <%= render 'form', location: @location %>

      <%#= link_to 'Show', @location, class: 'btn btn-info' %>
      <%#= link_to 'Back', locations_path, class: 'btn btn-info' %>
      <%= link_to 'New Location', new_location_path, class: 'btn btn-info' %>

    </div>
  </div>
</div>